<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eazylivings">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.WelcomeScreen"
            android:label="@string/title_activity_welcome_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.login.SignIn"
            android:theme="@android:style/Theme.WithActionBar" />
        <activity
            android:name=".activities.login.ForgotPassword"
            android:theme="@android:style/Theme.WithActionBar" />
        <activity
            android:name=".activities.login.SignUp"
            android:theme="@android:style/Theme.WithActionBar" />
        <activity
            android:name=".activities.MyAccount"
            android:theme="@android:style/Theme.WithActionBar" />
        <activity
            android:name=".activities.services.WalkthroughServices"
            android:theme="@android:style/Theme.WithActionBar" />
        <activity
            android:name=".activities.services.OfferedServices"
            android:theme="@android:style/Theme.WithActionBar" />
        <activity
            android:name=".activities.services.flatsetup.FlatSubServices"
            android:theme="@android:style/Theme.WithActionBar" />
        <activity
            android:name=".activities.services.cooking.PreferredWayOfCooking"
            android:theme="@android:style/Theme.WithActionBar" />
        <activity
            android:name=".activities.login.UpdateMyAccount"
            android:theme="@android:style/Theme.WithActionBar" />
        <activity
            android:name=".activities.services.cooking.CookForVegOrNonVeg"
            android:theme="@android:style/Theme.WithActionBar" />
        <activity
            android:name=".activities.services.cooking.CookSelection"
            android:theme="@android:style/Theme.WithActionBar" />
        <activity
            android:name=".activities.services.cooking.ConfigureGroceryList"
            android:theme="@android:style/Theme.WithActionBar" />
        <activity
            android:name=".activities.AboutUs"
            android:theme="@android:style/Theme.WithActionBar" />
        <activity
            android:name=".activities.ContactUs"
            android:theme="@android:style/Theme.WithActionBar" />
        <activity android:name=".activities.services.flatsetup.SelectItemsForFlat"
            android:theme="@android:style/Theme.WithActionBar"></activity>
    </application>

</manifest>